@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300&family=Montserrat:wght@100;400&family=Orbitron:wght@400;500&display=swap');
/*     font-family: 'Martel Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Orbitron', sans-serif;*/
:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
  }
  html {
    line-height : 1.15;
    -webkit-text-size-adjust:100%;
    background-color: black;
    
}
body{
    margin:0;
    --neon: #FF53cd;
    --neon-glow: #e10361;
    Perspective: 300px;
    -webkit-Perspective: 300px;
    -moz-Perspective: 300px;
    -ms-Perspective: 300px;
}
main{
    display:block;
}
h1 {
    font-size:2em;
    margin: 0.67em 0;  
}
a{
    background-color:transparent;

}
button{
    font-family:inherit;
    font-size:100%;
    line-height:1.15;
    margin:0;
    text-transform:none;
}
header{
 grid-area:header;
 top:0;
 left:0;
 right:0;
height:70px;
border-bottom: 1px white solid;
}
header *{
    display:inline;
   
}
header li{
margin:1em;
font-size:1em;
display: inline;
margin-right:1em;

}
.logo{
    animation: wobble 2s ease 0s 1 normal forwards;
 
}
.logo:hover{
    color: var(--neon-glow);
}

header li a{
color:aliceblue;
text-decoration:none;
font-family: 'Montserrat', sans-serif;

}
 header li a:hover{
    color:var(--neon-glow);
}


nav{
    display:flex;
    justify-content: space-between;


}
nav .logo{
    color:aliceblue;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6em;
    margin-left:0.6em;
    margin-top:0.4em;
   
}
.grid-container{

    display:grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1.7fr 0.3fr;
    grid-template-areas: "headline hero-image"
                         "bottom-page bottom-page";
     align-items: center;
     gap:2em;
     overflow: hidden;
}

.grid-container h3{
    color:aliceblue;
    font-family:'Montserrat', sans-serif;
}


.hero-image img{
    width:105%;
    display:block;
    height:auto;

}
.headline{
    grid-area:headline;
    margin-top: 5em;
    margin-left: 1em;
    margin-bottom: 5em;
}
.headline h1{
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue ;
}
.headline h3{
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue ;
}
.hero-image{
    grid-area: hero-image;
    margin-top: 5em;
    margin-right: 5em;;
   margin-bottom:5em;
  width:90%;


}
.bottom-page{
    grid-area:bottom-page;
    display:flex;
    justify-content: space-between;
    border-top: 1px white solid;
}
.bottom-page p{
    color:aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size:1em;
    margin:2em;
}
@media screen and (max-width:650px){
  .grid-container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "hero-image"
                          "headline"
                          "bottom-page" ;
     
  }
  .hero-image{
  width:100%;
  margin-top: 0;
  height: 400px;;
  margin: 0;

  }
  .hero-image img{
    width:100%;
    height:100%;
  }
  .headline{
    margin:0;
  }
  .headline h1{
    font-size: 2.5em;;
    text-align: center;
  }
  .headline h3{
    font-size: 1.5em;
    text-align: center;
  }
  .button{
    margin:0;
    position: relative;
    text-align: center;
    margin-right:4em;
   
  }
}
.neon-button a{
    text-decoration: none;
}
 .neon-button{
   
    display:inline-block;
    cursor:pointer;
    text-decoration:none;
    background: none;
    color:   var(--neon-glow); ;
    border: var(--neon-glow) 0.125em solid;
    font-size: 1.5em;
    padding: 0.50em 1em;
    border-radius: 0.25em;
     box-shadow: 0 0  1em 0 var(--neon-glow);
    font-family: 'Montserrat', sans-serif;
  position: relative;
   margin-left:1.5em;
   margin-top: 2.5em;
   text-align: center;

}


.neon-button::before{
 
    content: " ";
    position:absolute;
    background:var(--neon-glow);
    top:120%;
    left:0;
    width:100%;
    height:100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1.5em);
    opacity: 0.5;


}
.neon-button:hover,
.neon-button :focus{
    color: aliceblue !important;
    background: var(--neon-glow) ;
    text-shadow:none;
    box-shadow: 0 0  0.6em 0 var(--neon-glow);
    border: var(--neon-glow) 0.125em solid;
    transition:opacity 100ms linear;

}
.neon-button:hover,
.neon-bitton:focus {
    color:aliceblue;
}


@keyframes wobble {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
